<a href="https://colab.research.google.com/github/flaghunter21/DFS/blob/main/Golf_Combos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import itertools
import numpy as np

In [3]:
golf_df = pd.read_csv('sentry.csv')
golf_df.columns

Index(['Player', 'Inj', 'Likes', 'Salary', 'WorldRank', 'Cuts', 'R1time',
       'R2time', 'DriveDst', 'DriveAcc', 'GIR%', 'Saves', 'Birds', 'SG:OTT',
       'SG:APP', 'SG:ARG', 'SG:PUTT', 'SG:T2G', 'SG:TOT', 'Avg', 'STDV',
       'Floor', 'Ceiling', 'Own', 'vGrade', 'pGrade', 'Proj', 'My Proj',
       'Exp.', 'Used', 'Con.', 'Value'],
      dtype='object')

In [7]:
golf_df = golf_df.loc[:, ['Player','Salary', 'Own', 'My Proj']]
golf_df['Own'] = golf_df['Own'].str.replace('%','').astype(float)
golf_df.head()

              Player  Salary   Own  My Proj
0       Rory McIlroy   10500   0.0      0.0
1  Scottie Scheffler   10300  23.5    104.5
2           Jon Rahm   10000  37.6    107.9
3      Justin Thomas    9900  23.4    102.8
4    Patrick Cantlay    9700  28.9    102.6

In [8]:
combos = list(itertools.combinations(golf_df['Player'], 6))
print(combos[:5])
print(len(combos))

[('Rory McIlroy', 'Scottie Scheffler', 'Jon Rahm', 'Justin Thomas', 'Patrick Cantlay', 'Xander Schauffele'), ('Rory McIlroy', 'Scottie Scheffler', 'Jon Rahm', 'Justin Thomas', 'Patrick Cantlay', 'Collin Morikawa'), ('Rory McIlroy', 'Scottie Scheffler', 'Jon Rahm', 'Justin Thomas', 'Patrick Cantlay', 'Tony Finau'), ('Rory McIlroy', 'Scottie Scheffler', 'Jon Rahm', 'Justin Thomas', 'Patrick Cantlay', 'Matthew Fitzpatrick'), ('Rory McIlroy', 'Scottie Scheffler', 'Jon Rahm', 'Justin Thomas', 'Patrick Cantlay', 'Will Zalatoris')]
3838380

In [9]:
combos_df = pd.DataFrame(combos, columns=['G1','G2','G3','G4','G5','G6'])
combos_df.head()

,G1,G2,G3,G4,G5,G6
0,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Xander Schauffele
1,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Collin Morikawa
2,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Tony Finau
3,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Matthew Fitzpatrick
4,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Will Zalatoris

In [10]:
projection_map = dict(zip(golf_df['Player'], golf_df['My Proj']))
ownership_map = dict(zip(golf_df['Player'], golf_df['Own']))
salary_map = dict(zip(golf_df['Player'], golf_df['Salary']))

In [12]:
proj_cols = []
own_cols = []
salary_cols = []
for i in range(1,7):
  combos_df[f'G{i}_Proj'] = combos_df[f'G{i}'].map(projection_map)
  proj_cols.append(f'G{i}_Proj')
for i in range(1, 7):
  combos_df[f'G{i}_Own'] = combos_df[f'G{i}'].map(ownership_map)
  own_cols.append(f'G{i}_Own')
for i in range(1, 7):
  combos_df[f'G{i}_Salary'] = combos_df[f'G{i}'].map(salary_map)
  salary_cols.append(f'G{i}_Salary')

In [13]:
combos_df.head()

,G1,G2,G3,G4,G5,G6,G1_Proj,G2_Proj,G3_Proj,G4_Proj,...,G3_Own,G4_Own,G5_Own,G6_Own,G1_Salary,G2_Salary,G3_Salary,G4_Salary,G5_Salary,G6_Salary
0,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Xander Schauffele,0.0,104.5,107.9,102.8,...,37.6,23.4,28.9,13.3,10500,10300,10000,9900,9700,9500
1,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Collin Morikawa,0.0,104.5,107.9,102.8,...,37.6,23.4,28.9,13.0,10500,10300,10000,9900,9700,9400
2,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Tony Finau,0.0,104.5,107.9,102.8,...,37.6,23.4,28.9,23.8,10500,10300,10000,9900,9700,9300
3,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Matthew Fitzpatrick,0.0,104.5,107.9,102.8,...,37.6,23.4,28.9,13.5,10500,10300,10000,9900,9700,9100
4,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Will Zalatoris,0.0,104.5,107.9,102.8,...,37.6,23.4,28.9,11.8,10500,10300,10000,9900,9700,8900

In [14]:
combos_df['Total Proj'] = combos_df[proj_cols].sum(axis=1)
combos_df['Own Sum'] = combos_df[own_cols].sum(axis=1)
combos_df['Salary Cap'] = combos_df[salary_cols].sum(axis=1)
combos_df.head()

,G1,G2,G3,G4,G5,G6,G1_Proj,G2_Proj,G3_Proj,G4_Proj,...,G6_Own,G1_Salary,G2_Salary,G3_Salary,G4_Salary,G5_Salary,G6_Salary,Total Proj,Own Sum,Salary Cap
0,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Xander Schauffele,0.0,104.5,107.9,102.8,...,13.3,10500,10300,10000,9900,9700,9500,520.3,126.7,59900
1,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Collin Morikawa,0.0,104.5,107.9,102.8,...,13.0,10500,10300,10000,9900,9700,9400,511.3,126.4,59800
2,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Tony Finau,0.0,104.5,107.9,102.8,...,23.8,10500,10300,10000,9900,9700,9300,516.3,137.2,59700
3,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Matthew Fitzpatrick,0.0,104.5,107.9,102.8,...,13.5,10500,10300,10000,9900,9700,9100,514.7,126.9,59500
4,Rory McIlroy,Scottie Scheffler,Jon Rahm,Justin Thomas,Patrick Cantlay,Will Zalatoris,0.0,104.5,107.9,102.8,...,11.8,10500,10300,10000,9900,9700,8900,510.5,125.2,59300

In [15]:
print(len(combos_df))
combos_df = combos_df[combos_df['Salary Cap'] <= 50000]
print(len(combos_df))
combos_df.head()

3838380
3074528

,G1,G2,G3,G4,G5,G6,G1_Proj,G2_Proj,G3_Proj,G4_Proj,...,G6_Own,G1_Salary,G2_Salary,G3_Salary,G4_Salary,G5_Salary,G6_Salary,Total Proj,Own Sum,Salary Cap
7549,Rory McIlroy,Scottie Scheffler,Jon Rahm,Sepp Straka,Ryan Brehm,Chad Ramey,0.0,104.5,107.9,80.3,...,1.2,10500,10300,10000,7100,6100,6000,432.5,68.1,50000
7601,Rory McIlroy,Scottie Scheffler,Jon Rahm,Kyoung-Hoon Lee,Luke List,Chad Ramey,0.0,104.5,107.9,83.7,...,1.2,10500,10300,10000,7000,6200,6000,449.9,85.5,50000
7603,Rory McIlroy,Scottie Scheffler,Jon Rahm,Kyoung-Hoon Lee,Trey Mullinax,Chad Ramey,0.0,104.5,107.9,83.7,...,1.2,10500,10300,10000,7000,6200,6000,448.3,87.1,50000
7604,Rory McIlroy,Scottie Scheffler,Jon Rahm,Kyoung-Hoon Lee,Ryan Brehm,Chad Ramey,0.0,104.5,107.9,83.7,...,1.2,10500,10300,10000,7000,6100,6000,435.9,79.7,49900
7639,Rory McIlroy,Scottie Scheffler,Jon Rahm,Mackenzie Hughes,J.J. Spaun,Chad Ramey,0.0,104.5,107.9,82.6,...,1.2,10500,10300,10000,6900,6300,6000,451.4,79.4,50000

In [17]:
clean_combos = combos_df.loc[:, ['G1','G2','G3','G4','G5','G6','G1_Own','G2_Own','G3_Own','G4_Own','G5_Own','G6_Own','Total Proj','Own Sum','Salary Cap']]
clean_combos.head()

,G1,G2,G3,G4,G5,G6,G1_Own,G2_Own,G3_Own,G4_Own,G5_Own,G6_Own,Total Proj,Own Sum,Salary Cap
7549,Rory McIlroy,Scottie Scheffler,Jon Rahm,Sepp Straka,Ryan Brehm,Chad Ramey,0.0,23.5,37.6,5.5,0.3,1.2,432.5,68.1,50000
7601,Rory McIlroy,Scottie Scheffler,Jon Rahm,Kyoung-Hoon Lee,Luke List,Chad Ramey,0.0,23.5,37.6,17.1,6.1,1.2,449.9,85.5,50000
7603,Rory McIlroy,Scottie Scheffler,Jon Rahm,Kyoung-Hoon Lee,Trey Mullinax,Chad Ramey,0.0,23.5,37.6,17.1,7.7,1.2,448.3,87.1,50000
7604,Rory McIlroy,Scottie Scheffler,Jon Rahm,Kyoung-Hoon Lee,Ryan Brehm,Chad Ramey,0.0,23.5,37.6,17.1,0.3,1.2,435.9,79.7,49900
7639,Rory McIlroy,Scottie Scheffler,Jon Rahm,Mackenzie Hughes,J.J. Spaun,Chad Ramey,0.0,23.5,37.6,9.2,7.9,1.2,451.4,79.4,50000

In [18]:
clean_combos = clean_combos.sort_values(by=['Total Proj'], ascending = False)
clean_combos.head()

,G1,G2,G3,G4,G5,G6,G1_Own,G2_Own,G3_Own,G4_Own,G5_Own,G6_Own,Total Proj,Own Sum,Salary Cap
1218255,Jon Rahm,Xander Schauffele,Viktor Hovland,Sungjae Im,Aaron Wise,J.J. Spaun,37.6,13.3,26.7,31.4,24.5,7.9,579.2,141.4,50000
1435300,Jon Rahm,Viktor Hovland,Sungjae Im,Jordan Spieth,Aaron Wise,Seamus Power,37.6,26.7,31.4,23.4,24.5,22.3,578.8,165.9,49600
1435267,Jon Rahm,Viktor Hovland,Sungjae Im,Jordan Spieth,Adam Scott,Aaron Wise,37.6,26.7,31.4,23.4,14.6,24.5,578.7,158.2,50000
1435283,Jon Rahm,Viktor Hovland,Sungjae Im,Jordan Spieth,Keegan Bradley,Aaron Wise,37.6,26.7,31.4,23.4,16.3,24.5,578.5,159.9,49900
1218508,Jon Rahm,Xander Schauffele,Viktor Hovland,Jordan Spieth,Aaron Wise,J.J. Spaun,37.6,13.3,26.7,23.4,24.5,7.9,578.4,133.4,49900

In [21]:
clean_combos[:40000].to_csv('sentry_lineups.csv')